<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Slambook"
        tools:targetApi="31">
        <activity
            android:name=".SlambookHomeActivity"
            android:exported="false" />
        <activity
            android:name=".SlambookDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".FavoritesActivity"
            android:exported="false" />
        <activity
            android:name=".AddQuestionDialogFragment"
            android:exported="false" />
        <activity
            android:name=".QuestionsActivity"
            android:exported="false" />
        <activity
            android:name=".HobbiesActivity"
            android:exported="false" />
        <activity
            android:name=".PersonalDetails3Activity"
            android:exported="false" />
        <activity
            android:name=".PersonalDetails2Activity"
            android:exported="false" />
        <activity
            android:name=".PersonalDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".AvatarSelectionActivity"
            android:exported="false" />
        <activity
            android:name=".SlambookActivity"
            android:exported="false" />
        <activity
            android:name=".CreateActivity"
            android:exported="false" />
        <activity
            android:name=".ChooseActivity"
            android:exported="false" />
        <activity
            android:name=".Splash"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>